// colors for the theme
// --------------------------------------------------

$color-primary: #5236ff; 
$color-primary-light: #6e4dff;
$color-primary-dark: #3a1fff;

$color-secondary: #1657ff;
$color-secondary-light: #2e6eff;
$color-secondary-dark: #0040ff;

$color-success: #00d68f;
$color-success-light: #1ce3a7;
$color-success-dark: #00b86b;

$color-info: #baccfd;
$color-info-light: #d4e0ff;
$color-info-dark: #a3b9ff;

$color-warning: #ff9a3e;
$color-warning-light: #ffb75c;
$color-warning-dark: #ff7f00;

$color-danger: #ff3d71;
$color-danger-light: #ff5c8d;
$color-danger-dark: #ff1a4d;

